<!DOCTYPE html>
<html>
  <head>
    <style>
      .layout-shift {
        max-width: 600px;
        margin: 0 auto;
      }
      h1 {
        color: #2c3e50;
        margin-bottom: 30px;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
      }
      a {
        padding: 20px;
        color: aliceblue;
        font-weight: bold;
        background-color: #4CAF50;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
      }
      a:last-child {
        background-color: #f44336;
      }
    </style>
  </head>
  <body>
    <section class="layout-shift">
      <h1>Balance : 2,328829 BTC</h1>
      <h2>Would you transfer 0,7232 BTC to 0x24b0101d2dacc5ca5ece08d7c183c51b5b055034 ?</h2>

      <div id="img-container"></div>

      <div class="buttons">
        <a class="confirm" href="/money-sended">Confirm</a>
        <a class="cancel" href="/canceled">Cancel</a>
      </div>
    </section>

  </body>
</html>

<script>
  setTimeout(() => {
    document.getElementById('img-container').innerHTML = 
      '<img src="https://picsum.photos/600/50" alt="random image">Alert: No previous transactions has been made with tis adress</img>';
  }, 2000);
</script>