.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-green);
}

.info {
  font-family: "Quicksand", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 26px;
  margin-top: 10px;
  color: var(--grey);
}

.mobile-layout {
  width: var(--mobile-width);
  height: var(--mobile-height);
  margin: 30px 0;
  border-radius: var(--mobile-radius);
  perspective: 500px;
  overflow: hidden;
  color: var(--font-color);
  background-color: var(--secondary-green);
  box-shadow: 36px 36px 55px 15px var(--primary-green);

  @media (min-width: 600px) {
    box-shadow: 36px 36px 50px 15px var(--primary-green);
  }

  .book-cover {
    position: relative;
    height: var(--separator-height);
    width: calc(var(--mobile-width) * 2);
    left: -52.5%;
    border-top-left-radius: var(--mobile-radius);
    border-top-right-radius: var(--mobile-radius);
    background-color: var(--primary-green);
    transform-style: preserve-3d;
    transform-origin: 50% 40%;
    transition: var(--transition);
    z-index: 4;
    cursor: pointer;
  }

  .book-top {
    width: 170px;
    position: absolute;
    border-radius: 3%;
    top: 195px;
    left: 250px;
    z-index: 5;
    transform: translateZ(28.5px);
  }

  .book-side {
    position: absolute;
    top: 430px;
    left: 222px;
    transform: translateY(-15px) translateX(0px) translateZ(17px)
      rotateX(104deg);
  }

  .visible {
    transform: rotateX(75deg) translateZ(3px) scale(0.75);
  }

  .visible + .preface {
    transform: translateY(-302px);
  }

  .preface {
    height: var(--separator-height);
    padding: 40px 30px;
    transition: var(--transition);
    background: white;

    .header {
      display: flex;
      align-items: center;
    }

    .title {
      font-family: "Quiksand", sans-serif;
      font-size: 26px;
      margin-bottom: 10px;
    }

    .author {
      font-family: var(--open-sans), sans-serif;
      font-style: italic;
      margin-bottom: 20px;
    }
    .chapters {
      cursor: "url:"; /* balpen pointer */
      a {
        font-size: 0.5em;
        color: var(--primary-green);
      }
    }
  }
}
