h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: var(--light);
    color: var(--primary-green);
}

p {
    font-size: 2.5em;
    font-weight: var(--light);
    color: var(--primary-green);
    margin: 0.2em 0 0.7em 0.25em;
}