@font-face {
  font-family: "Antonio";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Antonio.ttf") format("woff");
}

@font-face {
  font-family: "BlockFont";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BlockFont-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Photograph-Signature";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Photograph-Signature.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* body text */
  --photograph-signature: "Photograph-Signature";
  --block-font: "BlockFont";
  --antonio: "Antonio";
  --open-sans: "Open Sans";

  /*font sizes*/
  --font-size-xl: 3em;
  --font-size-l: 2em;
  --font-size-m: 1em;
  --font-size-s: 0.875em;

  /*font weight*/
  --light: 400;
  --normal: 500;
  --bold: 600;

  /* Base Colors */
  --primary-green: #1a472a; /* Slytherin Green */
  --secondary-green: #537f5e; /* Muted Sage Green */
  --light-green: #acc9a1; /* Light Sage Green */
  --luxurious-gold: #d4af37; /* Gold */
  --warm-taupe: #c49b6f; /* Light Bronze */
  --off-white: #f1f1f1; /* Soft Off-White */
  --charcoal-grey: #2c2c2c; /* Charcoal Grey */

  /* Additional Custom Colors */
  --darkred: #6a0025; /* Dark Red */
  --accentred: #d2b2bd; /* Accent Red (light) */
  --white: #fff; /* White */
  --lightred: #f0e5e9; /* Light Red */
  --black: #1f000b; /* Black */
  --grey: #807b7b; /* Grey */

  /* Animation */
  --transition: transform 0.7s ease-in-out;

  --font-color: #807b7b;

  --mobile-width: 325px;
  --mobile-height: 670px;
  --mobile-radius: 25px;
  --separator-height: 500px;
}

/* Typografie */
h1 {
  font-family: var(--antonio), sans-serif;
  font-size: var(--font-size-l);
  font-weight: var(--light);
  color: var(--secondary-green);
}

h2 {
  font-family: var(--antonio), sans-serif;
  font-size: var(--font-size-xl);
  line-height: 1em;
  margin-left: 0.25em;
}

h3 {
  font-size: var(--font-size-m);
  margin-top: 5px;
}

p {
  font-family: var(--antonio), sans-serif;
  font-size: var(--font-size-l);
  line-height: 1em;
}

/* Buttons and Links */
a {
  color: var(--darkred);
  text-decoration: none; /* Removes underline */
}

a:hover {
  color: var(--luxurious-gold); /* Adds a luxurious gold hover effect */
}

/* Button styles */

.test {
  font-family: var(--block-font);
  font-size: var(--font-size-m);
  letter-spacing: -0.3em;
  color: var(--lightred);
  text-shadow: 0 0 6px #ff40c6, 0 0 2px #4c00ff;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  @media (min-width: 600px) {
    font-size: var(--font-size-xl);
  }
}

@keyframes floating {
  0% {
    transform: rotate(2deg) scale(0.9) translateY(-15px) translateX(20px);
    opacity: 0.6;
  }
  20% {
    transform: rotate(-1deg) scale(1) translateY(10px) translateX(40px);
    opacity: 0.8;
  }
  40% {
    transform: rotate(1deg) scale(0.95) translateY(5px) translateX(25px);
    opacity: 0.85;
  }
  60% {
    transform: rotate(-2deg) scale(0.9) translateY(15px) translateX(50px);
    opacity: 0.7;
  }
  80% {
    transform: rotate(0deg) scale(1) translateY(10px) translateX(30px);
    opacity: 0.65;
  }
  100% {
    transform: rotate(1deg) scale(1) translateY(0px) translateX(20px);
    opacity: 0.8;
  }
}
